.pathTitle {
    margin-bottom: 30px;
}

.titleCatalog {
    color: #00395D;
    font-size: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}