.mainRow {
    display: flex;
    height: 44px;
    padding: 12px 0px 0px 0px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px
}

.cityMainLetter {
    display: flex;
}

.cityLetter {
    color: #00395D;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 24px;
    margin-right: 7px;
    font-style: normal;
    font-weight: 400;
}

.cityName {
    color: #00395D;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 24px;
    text-decoration-line: underline;
    font-style: normal;
}

.contactUs {
    color: #00395D;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 24px;
    text-decoration: none;
    margin-right: 51px;
    font-style: normal;
    font-weight: 400;
}

.contactUs:last-child {
    margin-right: 0;
}