.compilationForImages {
    height: 740px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.compilationImage {
    width: 350px;
    height: 250px
}

.wholeImage {
    width: 350px;
    height: 100px;
    border: 1px solid;
    margin-bottom: 30px;
}