.basketAndNameButton {
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00395D;
    position: relative
}

.searchInput {
    width: auto;
    height: 54px;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 23px
}

.searchInputText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 54px;
    background-color: #F5F5F5;
    color: #00395D;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;

}

.searchInput2 {
    width: 700px !important;
    height: 54px;
    padding-left: 33px;
    padding-right: 154px;
}

.dropdownButton {
    width: 125px;
    height: 55px;
    background-color: #F5F5F5;
    color: #00395D;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
}

.findButton {
    width: 170px;
    height: 55px;
    font-family: Montserrat;
    font-weight: 700;
}

.basketAndSearchMainDiv {
    height: 260px;
}

.logoSide {
    display: flex;
    justify-content: space-between;
}

.searchSide {
    display: flex;
    justify-content: space-between;
}

.countDiv {
    display: flex;
    background-color: #0099E5;
    border-radius: 50%;
    min-width: 14px;
    height: 14px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F5F5F5;
    text-align: center;
    font-size: 12px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 9px;
    left: 54px;
}