.logo {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    margin-right: 12px;
}

.logo2 {
    width: 114px;
    height: 25px;
    flex-shrink: 0;
}

.logoWrapper {
    margin-right: 630px;
}

.basketAndNameButton {
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    color: #00395D
}

.searchInput {
    width: 990px;
    height: 54px;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 23px
}

.searchInputText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 54px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    color: #00395D;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;

}

.searchInput2 {
    width: 512px;
    height: 54px;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 33px;
    padding-right: 154px;
}

.dropdownButton {
    width: 124px;
    height: 54px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    color: #00395D;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
}

.findButton {
    width: 170px;
    height: 54px;
    flex-shrink: 0;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
}